<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Novo"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        [label]="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedProducts()"
        [disabled]="!selectedProducts || !selectedProducts.length"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Importar"
        chooseLabel="Importar"
        class="p-mr-2 p-d-inline-block"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Exportar"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="products"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Produtos</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="nome">
          Nome <p-sortIcon field="nome"></p-sortIcon>
        </th>
        <th pSortableColumn="genero">
          Genero <p-sortIcon field="genero"></p-sortIcon>
        </th>
        <th pSortableColumn="altura">
          Altura <p-sortIcon field="altura"></p-sortIcon>
        </th>
        <th pSortableColumn="peso">
          Peso <p-sortIcon field="peso"></p-sortIcon>
        </th>
        <th pSortableColumn="telefone">
          telefone <p-sortIcon field="telefone"></p-sortIcon>
        </th>
        <th pSortableColumn="observacoes">
          Observações <p-sortIcon field="observacoes"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency: 'USD' }}</td>
        <td>{{ product.category }}</td>
        <td>
          <p-rating
            [ngModel]="product.rating"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
        </td>
        <td>
          <span
            [class]="
              'product-badge status-' + product.inventoryStatus.toLowerCase()
            "
            >{{ product.inventoryStatus }}</span
          >
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editProduct(product)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteProduct(product)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Total de {{ products ? products.length : 0 }} Produtos.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="productDialog"
  [style]="{ width: '450px' }"
  header="Detalhes do Produto"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Nome</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="product.name"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !product.name"
        >Nome é requerido.</small
      >
    </div>
    <div class="p-field">
      <label for="name">Altura</label>
      <input
        type="number"
        pInputText
        id="altura"
        [(ngModel)]="product.altura"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !product.altura"
        >Altura é requerido.</small
      >
    </div>
    <div class="p-field">
      <label for="name">Peso</label>
      <input
        type="number"
        pInputText
        id="peso"
        [(ngModel)]="product.peso"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !product.peso"
        >Peso é requerido.</small
      >
    </div>
    <div class="p-field">
      <label for="name">Telefone</label>
      <input
        type="number"
        pInputText
        id="telefone"
        [(ngModel)]="product.telefone"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !product.telefone"
        >Telefone é requerido.</small
      >
    </div>
    <div class="p-field">
      <label for="observacoes">Observações</label>
      <textarea
        id="observacoes"
        pInputTextarea
        [(ngModel)]="product.observacoes"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Salvar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
